.site-wrapper {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
}

#header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  color: #ffffff;
  padding: 0 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.wrapper {
  max-width: 1000px;
  width: 100%;
  display: block;
  height: auto;
  margin: auto;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 76px;
}
